
@font-face {
    font-family: digitalFont;
    src: url(digital-7.ttf);
}

html {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: #DDFFD9;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#signature {
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
}

#container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 16px;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #cc5a71;
    box-shadow: 5px 5px 10px #7c3644;
}

#top {
    display: flex;
    flex-direction: column;
}

.calc-header {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
    color: #f5dadf;
    font-weight: bold;
}

#display {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 10px;
    height: 100px;
    background-color: #f5dadf;
}

#ans {
    margin: 10px;
    font-size: 18px;
    color: rgb(126, 126, 126);
    font-family: digitalFont;
}

#digit {
    margin: 10px;
    font-size: 48px;
    font-family: digitalFont;
}

.button, .bottom-right {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    margin: 10px;
    font-weight: bold;
    background-color: #aa4a5d;
    box-shadow: 0px 5px 2px #7c3644;
    color: #f5dadf;
}

.button:active, .bottom-right:active {
    box-shadow: none;
    background-color: #944051
}

.row {
    display: flex;
    flex-direction: column;
}

.button-row-sd {
    display: flex;
}

.row-bottom {
    display: flex;
    flex-direction: row;
}

#zero {
    flex: 2;
}

.button {
    height: 50px;
}

